# 범죄자 범행동기 EDA

## 데이터셋

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# 모든 열 보기
pd.options.display.max_rows = 100
pd.options.display.max_columns = None

In [3]:
# 파일 확인
import glob
glob.glob("data/*")

['data/범죄자_범행동기_20220602183738.csv',
 'data/범죄자_범행동기_및_기간_2011_2020.csv',
 'data/카카오뱅크_323410_2022.05.18.csv',
 'data/krx.csv',
 'data/국민건강보험공단_건강검진정보_20211229.CSV',
 'data/범죄자_범행동기_2011_2020.csv',
 'data/AIR_HOUR_2021.csv',
 'data/etf_2022-05-23_raw.csv',
 'data/crime_final.csv',
 'data/news_005930_삼성전자.csv',
 'data/국민건강보험공단_의약품처방정보_20211229',
 'data/범죄자_공범관계_2011_2020.csv',
 'data/SE4DA02 0519 음식특성 - 매운맛.csv',
 'data/HP_T60_2020_1.CSV',
 'data/HP_T60_2020_2.CSV',
 'data/HP_T60_2020_3.CSV',
 'data/범죄자_생활정도__혼인관계_및_부모관계_20220602182104.csv',
 'data/135_DT_13501N_A042_20220531195702.csv',
 'data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20210930.csv',
 'data/news_373220_LG에너지솔루션_2022.05.17.csv',
 'data/bidding_list.csv',
 'data/범죄자_공범관계_20220602184144.csv',
 'data/seoul-120-sample.csv',
 'data/135_DT_13501N_A039_20220531203023.csv',
 'data/전국 평균 분양가격(2013년 9월부터 2015년 8월까지).csv',
 'data/kosis-cancer-raw.csv',
 'data/seoul-120-list.csv',
 'data/seoul-covid19-2021-12-26.csv',
 'data/seoul-covid19-2021-12-18.csv',
 'data/kosis-cancer.csv']

In [4]:
# 파일 불러오기
df = pd.read_csv("data/범죄자_공범관계_20220602184144.csv", encoding="cp949")

In [5]:
# shape 확인
df.shape

(5043, 6)

In [6]:
# 일부 데이터 확인
df.sample(5)

     죄종별(1)  죄종별(2) 공범관계별(1) 공범관계별(2)    시점     데이터
699    강력범죄      강간     공범관계     동네친구  2016     220
3814   풍속범죄    도박범죄     공범관계      친인척  2020      37
3357   지능범죄      횡령     공범관계       애인  2016      96
4930   기타범죄      소계      단독범       소계  2016  229429
3045   지능범죄  유가증권인지     공범관계       소계  2020      15

In [7]:
# 컬럼명 확인
df.columns

Index(['죄종별(1)', '죄종별(2)', '공범관계별(1)', '공범관계별(2)', '시점', '데이터'], dtype='object')

In [8]:
# 컬럼명 변경
df = df.rename(columns={
    "죄종별(1)":"범죄종류", "죄종별(2)" :"범죄명",
    "공범관계별(1)":"공범유무", "공범관계별(2)":"공범관계명", 
    "시점":"연도", "데이터":"범죄발생횟수"
})
# 바뀐 컬럼명 확인
df.columns

Index(['범죄종류', '범죄명', '공범유무', '공범관계명', '연도', '범죄발생횟수'], dtype='object')

In [9]:
# 컬럼 고유값 확인
for col in df.columns:
    print(col, ":", end = "")
    print(df[col].unique(), end="\n\n")

범죄종류 :['계' '강력범죄' '절도범죄' '폭력범죄' '지능범죄' '풍속범죄' '특별경제범죄' '마약범죄' '보건범죄' '환경범죄'
 '교통범죄' '노동범죄' '안보범죄' '선거범죄' '병역범죄' '기타범죄']

범죄명 :['소계' '살인기수' '살인미수등' '강도' '강간·강제추행' '강간' '유사강간' '강제추행' '기타 강간·강제추행등' '방화'
 '상해' '폭행' '체포·감금' '협박' '약취·유인' '폭력행위등' '공갈' '손괴' '직무유기' '직권남용' '증수뢰' '통화'
 '문서·인장' '유가증권인지' '사기' '횡령' '배임' '성풍속범죄' '도박범죄']

공범유무 :['계' '단독범' '공범관계' '미상']

공범관계명 :['소계' '학교동창' '교도소.소년원동료' '직장동료' '친인척' '군동료' '동네친구' '고향친구' '애인' '기타']

연도 :[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

범죄발생횟수 :['1815233' '1723815' '1741302' ... '71536' '76252' '76187']

## 결측치

In [10]:
# 데이터 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄종류    5043 non-null   object
 1   범죄명     5043 non-null   object
 2   공범유무    5043 non-null   object
 3   공범관계명   5043 non-null   object
 4   연도      5043 non-null   int64
 5   범죄발생횟수  5043 non-null   object
dtypes: int64(1), object(5)
memory usage: 236.5+ KB

In [12]:
# 결측값 확인
df.isnull().sum()

범죄종류      0
범죄명       0
공범유무      0
공범관계명     0
연도        0
범죄발생횟수    0
dtype: int64

In [13]:
# 히트맵으로 결측치 시각화
# _ = sns.heatmap(df.isnull(), cmap="gray")

In [14]:
# 결측값 비율
df.isnull().mean()*100

범죄종류      0.0
범죄명       0.0
공범유무      0.0
공범관계명     0.0
연도        0.0
범죄발생횟수    0.0
dtype: float64

In [15]:
# 결측치 0으로 변경
df['범죄발생횟수'] = df['범죄발생횟수'].fillna(0)
# 확인
df.isnull().sum()

범죄종류      0
범죄명       0
공범유무      0
공범관계명     0
연도        0
범죄발생횟수    0
dtype: int64

In [16]:
# 데이터 타입 확인
df.dtypes

범죄종류      object
범죄명       object
공범유무      object
공범관계명     object
연도         int64
범죄발생횟수    object
dtype: object

In [17]:
# 범죄발생횟수 수치형데이터로 변경
df["범죄발생횟수"] = pd.to_numeric(df["범죄발생횟수"], errors = "coerce")
# 결측치 0으로 변경
df['범죄발생횟수'] = df['범죄발생횟수'].fillna(0)
# 확인
df.isnull().sum()
df["범죄발생횟수"] = df["범죄발생횟수"].astype(int)

# 데이터 타입확인
df["범죄발생횟수"].dtypes

dtype('int64')

In [18]:
# 소계 하나뿐인지 확인
df.groupby(by=['범죄종류', '범죄명']).count()

                    공범유무  공범관계명   연도  범죄발생횟수
범죄종류   범죄명
강력범죄   강간            102    102  102     102
       강간·강제추행        24     24   24      24
       강도            127    127  127     127
       강제추행          101    101  101     101
       기타 강간·강제추행등    97     97   97      97
       방화            114    114  114     114
       살인기수          114    114  114     114
       살인미수등         113    113  113     113
       소계            128    128  128     128
       유사강간           82     82   82      82
계      소계            128    128  128     128
교통범죄   소계            124    124  124     124
기타범죄   소계            128    128  128     128
노동범죄   소계            115    115  115     115
마약범죄   소계            126    126  126     126
병역범죄   소계            101    101  101     101
보건범죄   소계            121    121  121     121
선거범죄   소계            111    111  111     111
안보범죄   소계            103    103  103     103
절도범죄   소계            128    128  128     128
지능범죄   문서·인장         127    127  127     127
       배임            117    117  117     117
       사기            128    128  128     128
       소계            128    128  128     128
       유가증권인지        109    109  109     109
       증수뢰           115    115  115     115
       직권남용           90     90   90      90
       직무유기           89     89   89      89
       통화            102    102  102     102
       횡령            127    127  127     127
특별경제범죄 소계            128    128  128     128
폭력범죄   공갈            121    121  121     121
       상해            128    128  128     128
       소계            128    128  128     128
       손괴            123    123  123     123
       약취·유인         115    115  115     115
       체포·감금         119    119  119     119
       폭력행위등         128    128  128     128
       폭행            126    126  126     126
       협박            120    120  120     120
풍속범죄   도박범죄          128    128  128     128
       성풍속범죄         120    120  120     120
       소계            128    128  128     128
환경범죄   소계            112    112  112     112

In [19]:
# '계' 들어가는 행 삭제
drops_col = ['강력범죄', '지능범죄', '폭력범죄', '풍속범죄']
drops = ((df['범죄명'].str.contains('계')) & (df['범죄종류'] == '강력범죄')) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == '폭력범죄')) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == '지능범죄')) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == '풍속범죄')) |\
    df['범죄종류'].str.contains('계') | (df['공범유무']=='계')
df = df[~drops]

#확인
df.sample(10)

      범죄종류    범죄명  공범유무 공범관계명    연도  범죄발생횟수
3435  지능범죄     배임  공범관계   친인척  2013     149
3214  지능범죄     사기  공범관계  동네친구  2020    6540
4624  안보범죄     소계  공범관계    소계  2016      38
3485  지능범죄     배임  공범관계    기타  2017     890
2610  지능범죄   직권남용  공범관계    소계  2019      99
2963  지능범죄  문서·인장  공범관계   군동료  2016       4
1049  강력범죄     방화  공범관계  학교동창  2015      24
2728  지능범죄    증수뢰  공범관계   친인척  2014       7
555   강력범죄     강도  공범관계   군동료  2014       3
4322  환경범죄     소계  공범관계  동네친구  2017      18

In [20]:
# 범죄명이 '소계'로 된 컬럼명 바꾸기
drops_col = ['강력범죄', '지능범죄', '폭력범죄', '풍속범죄']
for col in df['범죄종류'].unique().tolist():
    if col not in drops_col:
        df.loc[df['범죄종류'] == col, '범죄명'] = col

In [21]:
# 소계 확인
df.groupby(by=['공범유무', '공범관계명']).count()

                범죄종류  범죄명   연도  범죄발생횟수
공범유무 공범관계명
공범관계 고향친구        342  342  342     342
     교도소.소년원동료   252  252  252     252
     군동료         272  272  272     272
     기타          374  374  374     374
     동네친구        355  355  355     355
     소계          339  339  339     339
     애인          330  330  330     330
     직장동료        362  362  362     362
     친인척         348  348  348     348
     학교동창        342  342  342     342
단독범  소계          374  374  374     374
미상   소계          339  339  339     339

In [22]:
# 공범관계명이 '소계'로 된 컬럼명 바꾸기
drops=["단독범", "미상"]
for col in df["공범유무"].unique().tolist():
    if col in drops:
        df.loc[df["공범유무"]==col, '공범관계명'] = col

In [23]:
# 제대로 변경 되었는지 확인
df.groupby(by=['공범유무', '공범관계명']).count()

                범죄종류  범죄명   연도  범죄발생횟수
공범유무 공범관계명
공범관계 고향친구        342  342  342     342
     교도소.소년원동료   252  252  252     252
     군동료         272  272  272     272
     기타          374  374  374     374
     동네친구        355  355  355     355
     소계          339  339  339     339
     애인          330  330  330     330
     직장동료        362  362  362     362
     친인척         348  348  348     348
     학교동창        342  342  342     342
단독범  단독범         374  374  374     374
미상   미상          339  339  339     339

In [24]:
# 공범관계의 공범관계명 중 '계' 들어가는 행 삭제
drops=((df["공범유무"]=="공범관계") & (df["공범관계명"]=="소계"))
df = df[~drops]
#확인
df.groupby(by=["공범유무", "공범관계명"]).count()

                범죄종류  범죄명   연도  범죄발생횟수
공범유무 공범관계명
공범관계 고향친구        342  342  342     342
     교도소.소년원동료   252  252  252     252
     군동료         272  272  272     272
     기타          374  374  374     374
     동네친구        355  355  355     355
     애인          330  330  330     330
     직장동료        362  362  362     362
     친인척         348  348  348     348
     학교동창        342  342  342     342
단독범  단독범         374  374  374     374
미상   미상          339  339  339     339

In [25]:
# 인덱스 재정의
df = df.reset_index(drop=True)

In [26]:
# 컬럼 재정렬
cols = ["범죄명", "연도", "공범유무", "공범관계명","범죄종류" , "범죄발생횟수"]
df = df[cols]

In [27]:
# 데이터 랜덤하게 확인
df.sample(5)

        범죄명    연도  공범유무 공범관계명  범죄종류  범죄발생횟수
950      폭행  2012   단독범   단독범  폭력범죄   80493
2506  성풍속범죄  2016   단독범   단독범  풍속범죄   10613
1619     손괴  2011  공범관계  동네친구  폭력범죄     142
3338   안보범죄  2018  공범관계  학교동창  안보범죄       0
149   살인미수등  2018  공범관계  동네친구  강력범죄       6

In [28]:
# 데이터 shape
df.shape

(3690, 6)

## 데이터 요약

In [29]:
# 데이터 요약
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3690 entries, 0 to 3689
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄명     3690 non-null   object
 1   연도      3690 non-null   int64
 2   공범유무    3690 non-null   object
 3   공범관계명   3690 non-null   object
 4   범죄종류    3690 non-null   object
 5   범죄발생횟수  3690 non-null   int64
dtypes: int64(2), object(4)
memory usage: 173.1+ KB

In [30]:
# 수치형통계
df.describe()

                연도         범죄발생횟수
count  3690.000000    3690.000000
mean   2015.811924    4595.995122
std       2.846268   26760.315058
min    2011.000000       0.000000
25%    2013.000000       8.000000
50%    2016.000000      68.000000
75%    2018.000000     655.000000
max    2020.000000  546238.000000

In [31]:
# 범죄발생횟수가 가장 많은 범죄명, 연도, 공범유무, 범죄종류
df[df["범죄발생횟수"]==546238]

       범죄명    연도 공범유무 공범관계명  범죄종류  범죄발생횟수
3127  교통범죄  2016  단독범   단독범  교통범죄  546238

In [32]:
# 범주형 통계
df.describe(include="object")

         범죄명  공범유무 공범관계명  범죄종류
count   3690  3690  3690  3690
unique    39     3    11    15
top     기타범죄  공범관계   단독범  지능범죄
freq     109  2977   374   833

In [33]:
# 인덱스명 범죄종류로 바꾸기
df.set_index('범죄명')

        연도 공범유무 공범관계명  범죄종류  범죄발생횟수
범죄명
살인기수  2011  단독범   단독범  강력범죄     384
살인기수  2012  단독범   단독범  강력범죄     311
살인기수  2013  단독범   단독범  강력범죄     260
살인기수  2014  단독범   단독범  강력범죄     285
살인기수  2015  단독범   단독범  강력범죄     320
...    ...  ...   ...   ...     ...
기타범죄  2016   미상    미상  기타범죄   28319
기타범죄  2017   미상    미상  기타범죄   27791
기타범죄  2018   미상    미상  기타범죄   71536
기타범죄  2019   미상    미상  기타범죄   76252
기타범죄  2020   미상    미상  기타범죄   76187

[3690 rows x 5 columns]

In [34]:
df.groupby(by=['연도', '범죄명']).mean().head(30).sort_values("범죄발생횟수", ascending=False)

                    범죄발생횟수
연도   범죄명
2011 교통범죄     52435.000000
     사기       26463.400000
     기타범죄     22478.100000
     절도범죄     11139.000000
     특별경제범죄    9162.200000
     상해        8913.800000
     도박범죄      4617.400000
     병역범죄      3250.285714
     손괴        2874.900000
     보건범죄      2271.666667
     문서·인장     2210.500000
     강간·강제추행   1765.200000
     성풍속범죄     1689.888889
     배임         982.500000
     마약범죄       540.900000
     강도         489.000000
     노동범죄       440.166667
     공갈         420.666667
     직무유기       223.000000
     방화         189.875000
     증수뢰        177.000000
     유가증권인지     128.125000
     체포·감금      121.125000
     직권남용       119.000000
     살인미수등      104.500000
     살인기수        64.142857
     선거범죄        57.142857
     약취·유인       42.500000
     안보범죄        32.000000
     통화          20.166667

In [35]:
# 컬럼 고유값 재확인
for col in df.columns:
    print(col, ":", end = "")
    print(df[col].unique(), end="\n\n")

범죄명 :['살인기수' '살인미수등' '강도' '강간·강제추행' '강간' '유사강간' '강제추행' '기타 강간·강제추행등' '방화'
 '절도범죄' '상해' '폭행' '체포·감금' '협박' '약취·유인' '폭력행위등' '공갈' '손괴' '직무유기' '직권남용'
 '증수뢰' '통화' '문서·인장' '유가증권인지' '사기' '횡령' '배임' '성풍속범죄' '도박범죄' '특별경제범죄' '마약범죄'
 '보건범죄' '환경범죄' '교통범죄' '노동범죄' '안보범죄' '선거범죄' '병역범죄' '기타범죄']

연도 :[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

공범유무 :['단독범' '공범관계' '미상']

공범관계명 :['단독범' '학교동창' '교도소.소년원동료' '직장동료' '친인척' '군동료' '동네친구' '고향친구' '애인' '기타' '미상']

범죄종류 :['강력범죄' '절도범죄' '폭력범죄' '지능범죄' '풍속범죄' '특별경제범죄' '마약범죄' '보건범죄' '환경범죄' '교통범죄'
 '노동범죄' '안보범죄' '선거범죄' '병역범죄' '기타범죄']

범죄발생횟수 :[  384   311   260 ... 71536 76252 76187]

In [36]:
#파일 저장
df.to_csv("범죄자_공범관계_2011_2020.csv", index=False)